body {
    font-family: "Roboto", sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
    background-color: #212121;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2rem 0;
    padding: 1rem 0;
    transition: background-position 2s ease;
    text-align: center;
    color: #fff;
    background: linear-gradient(90deg, #ffcc00, #ff6699, #00bcd4, #ffcc00);
    -webkit-background-clip: text;
    background-size: 300% 100%;
    -webkit-text-fill-color: transparent;
}

h1:hover {
    background-position: 100% 0;
}

h1::before,
h1::after {
    position: absolute;
    width: 0;
    height: 3px;
    content: "";
    transition: width 0.5s ease;
    background-color: #ffcc00;
}

h1::before {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

h1::after {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h1:hover::before,
h1:hover::after {
    width: 100%;
}

h1:hover {
    color: #ffcc00;
    text-shadow: 0 0 10px rgba(255, 204, 0, 0.7);
}

h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #fff;
}

.info-section {
    margin: 2rem 0;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.info-section h2 {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 1rem 0;
    padding-bottom: 0.5rem;
    color: #fff;
    border-bottom: 2px solid #ffcc00;
}

.info-content ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.info-content ul li {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    padding: 10px;
    transition: background-color 0.3s ease;
    color: #ccc;
    border-radius: 5px;
    background-color: #333;
}

.info-content ul li:hover {
    background-color: #444;
}

.info-content ul li b {
    color: #ffcc00;
}

.info-content ul li a {
    transition: color 0.3s ease;
    text-decoration: none;
    color: #00bcd4;
}

.info-content ul li a:hover {
    color: #ffcc00;
}

.section-container {
    display: grid;
    margin-bottom: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 1rem;
}

.card {
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    margin: 0;
    padding: 20px;
    transition: all 0.5s ease;
    transform: scale(1);
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    break-inside: avoid;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}

.card.expanded {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
    grid-row: span 2;
}

.card img {
    max-width: 100px;
    height: 100px;
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border-radius: 10px;
}

.card img:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

.card-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.card h3 {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    transition: color 0.3s ease;
    color: #fff;
}

.card h3:hover {
    color: #ffcc00;
}

.card p {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: color 0.3s ease;
    color: #ccc;
}

.card .description {
    overflow: hidden;
    max-height: 0;
    padding: 0 10px;
    transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(-10px);
    opacity: 0;
    border-top: 1px solid #444;
}

.card .description.show {
    max-height: 900px;
    padding: 10px;
    transform: translateY(0);
    opacity: 1;
}

.card .description p {
    margin-bottom: 10px;
    transition: opacity 0.3s ease;
}

.card .description p:hover {
    opacity: 0.8;
}

.card .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    color: #fff;
    border: none;
    background: none;
}

.card .icon:hover {
    transform: scale(1.2);
    opacity: 0.8;
}

.card .icon img {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.card .icon img:hover {
    transform: rotate(15deg);
}

.card h3 .icon,
.card p .icon {
    margin-left: 10px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
        margin: 1.5rem 0;
        padding-bottom: 0.75rem;
    }

    .section-container {
        grid-template-columns: 1fr;
    }

    .card.expanded {
        transform: scale(1);
        grid-row: span 1;
    }

    .card {
        align-items: center;
        flex-direction: column;
    }

    .card img {
        margin-bottom: 20px;
    }

    .card-content {
        align-items: center;
    }

    .card .icon {
        margin: 0;
    }
}